.container {
    width: 800px;
    height: 800px;
    position: relative;
    top: 100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    column-gap: 5px;
    row-gap: 5px;
}

body {
    background-color: wheat;
}

.button {
    position: relative;
    top: 50px;
    display: block;
    margin: auto;
}

.square {
    background-color: black;
}

.colored-square {
    background-color: white;
}